/Binary mask.png
/Case1_CT_Aorta_segmentation.nii.gz
/Case1_CT_Skeleton_result.nii.gz
/Case2_CT_Aorta_segmentation.nii.gz
/Case2_CT_Skeleton_result.nii.gz
/Case3_CT_Aorta_segmentation.nii.gz
/Case3_CT_Skeleton_result.nii.gz
/Case4_CT_Aorta_segmentation.nii.gz
/Case4_CT_Skeleton_result.nii.gz
/Circular segmentation.png
/conversion.nii.gz
/ROI Patch.png
